* {
    font-family: 'Raleway';
    margin: 0;padding: 0;
}

body {
    min-height: 100vh;
    background: url('../images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

:root {
    --green-color: #66CC00;
}

/* ----------------------- */
    /* Clases de Texto */
/* ----------------------- */
.xlight {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

/* ----------------------- */
        /* Navbar */
/* ----------------------- */
.navbar {
    height: 60px;
    box-sizing: border-box;
}

.navbar-brand img {
    height: 40px;
}

.navbar .navbar-nav .active a {
    color: #66CC00 !important;
}

@media screen and (max-width: 575px) {
    #navbarTogglerDemo01 {
        position: absolute;
        width: 100vw;
        top: 60px;
        left: 0;
    }

    .ul-responsive {
        background-color: #f8f9fa;
    }
}

/* ----------------------- */
   /* Sección de Inicio */
/* ----------------------- */
#inicio img {
    height: 320px;
}

#inicio h1 {
    font-size: 64px;
    line-height: 75px;
}

@media screen and (min-width: 1200px) {
    #inicio img {
        height: 430px;
    }

    #inicio h1 {
        font-size: 72px;
    }

    #inicio iframe {
        width: 469px;
        height: 260px;
    }
}

@media screen and (max-width: 682px) {
    #inicio img {
        height: 250px;
        margin-bottom: 20px;
    }

    #inicio h1 {
        font-size: 45px;
        line-height: 1;
    }

    #inicio iframe {
        width: 320px;
        height: 170px;
    }
}
